---
to: '{{ form.properties.phone_number }}'
---
<h1>Hi!</h1>
<p>Please visit the following link to complete COVID screening questionnaire.</p>
<p><a href="https://covid-questionnaire.staging.oregon.platform-os.com/covid_questionnaire">COVID sreening questionnaire</a></p>