---
name: send_email_form
resource: User
email_notifications:
  - covid_questionnaire_link
---

<form action="/email_send/" method="POST">
  <input type="email" name="email_address" placeholder="example@email.com"/>
  <button class="button" type="submit">Send Email</button>
</form>