---
name: send_sms_form
resource: User
sms_notifications: 
  - covid_questionnaire_sms
---

<form action="/sms_send/" method="POST">
  <input type="tel" name="phone_number"/>
  <button class="button" type="submit">Send</button>
</form>