---
method: post
---
{%- assign email_address = context.params.email_address -%}
<!-- {{ email_address }} -->
{% parse_json data %}
{
  "email_address": "{{email_address}}"
}
{% endparse_json %}
<!-- {{ data }} -->
{% graphql notify = 'email_send', data: data %}

<div class="max-w-2xl mx-auto mt-10 text-center">
    <h2 class="text-2xl font-semibold">
        {% if result.errors %}
            Something went wrong :(
            <br>
            {{ result.errors }}
            {% else %}
            email was sent successfully.
        {% endif %} 
    </h2>
</div>


