---
method: post
---
{%- assign phone_number = context.params.phone_number -%}
<!-- {{ phone_number }} -->
{% parse_json data %}
{
  "phone_number": "{{phone_number}}"
}
{% endparse_json %}
<!-- {{ data }} -->
{% graphql notify = 'sms_send', data: data %}

<div class="max-w-2xl mx-auto mt-10 text-center">
    <h2 class="text-2xl font-semibold">
        {% if result.errors %}
            Something went wrong :(
            <br>
            {{ result.errors }}
            {% else %}
            SMS was sent successfully.
        {% endif %} 
    </h2>
</div>


