---
to: '{{ form.email_address }}'
delay: 0
enabled: true
trigger_condition: true
from: Jaehan Bae <jbae12@my.centennialcollege.ca>
reply_to: no-reply@example.com
cc:
bcc:
subject: 'a Link to a Page with the COVID screening questionnaire page'
layout_path: mailer
---
<h1>Hi!</h1>
<p>Please visit the following link to complete COVID screening questionnaire.</p>
<p><a href="https://covid-questionnaire.staging.oregon.platform-os.com/covid_questionnaire">COVID sreening questionnaire</a></p>